/SmartphoneWebsite/nbproject/private/
/SmartphoneWebsite/build/
/SmartphoneWebsite/dist/
/TEST/nbproject/private/
/TEST/build/
/Web Lab 5/nbproject/private/
/Web Lab 5/build/
/Testing lab 5/nbproject/private/
/Testing lab 5/build/
/Web Lab 5/dist/
/Lab5/nbproject/private/
/Lab5/build/
/build/
/SmartphoneWebsite/target/