/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2019, 9:39:09 AM
    Author     : KiroHikaru
*/

header {
    font-size: 200%;
    background-color: #357234;
    color: #FFFFFF;
    padding: 0% 0% 0% 0%;
}

#search-form {
    display:inline;
    margin: 0%;
    border: 0%;
    padding: 0%;
}

#search-text {
    margin: 0%;
    border: 0%;
    padding: 10px 20px;
}

#search-text:focus {
    
}

#search-button {
    margin: 0%;
    border: 0%;
    background-color: #357234;
}

#category-button {
    background-color: #6ce86a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    opacity: 0.3;
    transition: 0.3s;
}

#category-button:hover {
    opacity: 1;
    cursor: pointer;
}

#login-button {
    background-color: #357234;
    border: 0px;
    color: #cccccc;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s;
    vertical-align: middle;
}

#login-button:hover {
    opacity: 1;
    color: white;
    cursor: pointer;
}